*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #6767ff; 

}

.loginConteudo{
    height: 98vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 4px;
}


form{
    width: 400px;
    height: 90%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    border-radius: 15px;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.635);
}
form img{
    width: 100%;
    margin: 0 auto 0 auto;
}

form .descricao{
    margin-top: 8px;
    margin-bottom: 20px;
    color: rgb(204, 204, 204);

}
form div{
    display: flex;
    flex-direction: column;
}

form .inputDiv{
    margin-top: 20px;
}
form input{
    padding: 12px;
    margin-top: 3px;
    border-radius: 18px;
    border: none;
    background-color: #f3f3f3;
}

form input[name="nome"]{
    margin-top: 15px;
}

form input[type="submit"]{
    background-color: #6767ff;
    font-weight: bold;
    color: white;
}

form a{
    text-align: center;
}

span{
    color: red;
}

.notasContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    row-gap: 15px;
    column-gap: 15px;
}
.nota{
    display: grid;
    background-color: #ffff88;
    width: 130px;
    height: 250px;
    padding: 0px 20px;
    border-radius: 15px; 
    border: 1px solid black;
}

.nota .titulo{
    align-self: flex-start;
    font-weight: bold;
    text-align: start;
    margin-bottom: 0;
}
.nota .recado{
    margin-bottom: 7px;
    border-bottom: 1px solid gray;
}

.nota .email{
    align-self: flex-end;
    justify-self: flex-end;
}